<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.thehcma.bunnify.spotty-bunny</string>

  <key>ProgramArguments</key>
  <array>
    <string>__SPOTTY_BUNNY__</string>
  </array>

  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>__HOME__/Library/Logs/bunnify.spotty-bunny.err.log</string>
  <key>StandardOutPath</key>
  <string>__HOME__/Library/Logs/bunnify.spotty-bunny.out.log</string>
</dict>
</plist>
